{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributor Home</title>
    <link rel="stylesheet" href={% static 'mystyle.css' %} >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex h-100 text-left text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h1 class="float-md-start mb-0">Distributor Page</h1>
    </div>
  </header>

    <form >
        <label>Email:</label><input placeholder="Enter Your Email" class="form-row" name="email" type="email">
        <label>Password:</label><input placeholder="Enter Your Password" class="form-row" name="password" type="password">
        <button type="submit" class="btn btn-outline-light" >Submit</button>
    </form>



</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>